.conteneurCarreNumero{
    display: flex; 
    flex-direction: row;
    margin-left: 2rem;
}

.carreNumero{
    border: 1px solid lightgrey;
    background-color: ivory;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.carreNumero div{
    margin: 0 auto;
}

h1{
    margin-left: 2rem;
}